.f-2,
.f-2 * {
  box-sizing: border-box;
}
.f-2 {
  background: #ffffff;
  padding: 0px 221.27px 0px 217.91px;
  display: flex;
  flex-direction: row;
  gap: 8.38px;
  align-items: flex-start;
  justify-content: center;
  height: 767px;
  position: relative;
  overflow: hidden;
}
.frame-5 {
  background: linear-gradient(
    140.12deg,
    rgba(224, 79, 37, 0.12) 0%,
    rgba(249, 237, 237, 1) 36.500000953674316%,
    rgba(249, 237, 237, 1) 75.3581702709198%
  );
  flex-shrink: 0;
  width: 657px;
  height: 805px;
  position: relative;
  overflow: hidden;
}
.logo-1 {
  width: 176.01px;
  height: 47.8px;
  position: absolute;
  left: 463.21px;
  top: 7.97px;
  object-fit: cover;
}
.join-india-s-growth-story {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 600;
  position: absolute;
  left: 35.49px;
  top: 29.33px;
}
.frame-6 {
  background: linear-gradient(
    93.21deg,
    rgba(255, 255, 255, 1) 35.50518453121185%,
    rgba(245, 133, 52, 1) 100%
  );
  padding: 21px 197.73px 21px 197.73px;
  height: 76px;
  position: absolute;
  right: -0.18px;
  left:0px;
  top: 63px;
  box-shadow: 0px 2.9px 2.9px -2.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.invest-in-india-invest-with-farsight {
  color: #e04f25;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 28.972070693969727px;
  font-weight: 400;
  position: absolute;
  left: 56.13px;
  top: 21px;
}
.frame-7 {
  background: rgba(255, 255, 255, 0);
  padding: 10.86px 0px 10.86px 14.49px;
  display: flex;
  flex-direction: column;
  gap: 2.9px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 17.82px;
  left: 37.17626953125px;
  top: 170px;
  overflow: hidden;
}
.why-invest-in-india {
  color: #000000;
  text-align: center;
  font-family: "NotoLoopedThaiUi-SemiBold", sans-serif;
  font-size: 26.07486343383789px;
  line-height: 45px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 47.08px;
}
.at-farsight-we-have-identified-several-investment-opportunities-in-india-that-we-believe-will-provide-our-clients-with-attractive-returns-these-include {
  color: #000000;
  text-align: left;
  font-family: "Mulish-Bold", sans-serif;
  font-size: 15.934639930725098px;
  line-height: 27.81px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 7.24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 17.43px;
  left: 35.1285400390625px;
  top: 152.83px;
}
.contact-us-1 {
  flex-shrink: 0;
  width: 267.99px;
  height: 31.87px;
  position: relative;
}

.contactus-farsightshares-com a {
  
  color: #e04f25;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.383243560791016px;
  font-weight: 400;
  position: absolute;
  right: 11.94%;
  left: 0%;
  width: 88.06%;
  bottom: 34.11%;
  top: 0%;
  height: 65.89%;
}
.contact-us-2 {
  flex-shrink: 0;
  width: 218.74px;
  height: 31.87px;
  position: relative;
}
.www-farsightshares-com a{
  text-decoration: none;
  color: #e04f25;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.383243560791016px;
  font-weight: 400;
  position: absolute;
  right: 7.2%;
  left: 0%;
  width: 92.8%;
  bottom: 34.11%;
  top: 0%;
  height: 65.89%;
}
.contact-us-3 {
  flex-shrink: 0;
  width: 111.54px;
  height: 31.87px;
  position: relative;
}
._9311522003 {
  color: #e04f25;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.383243560791016px;
  font-weight: 400;
  position: absolute;
  right: 7.66%;
  left: 0%;
  width: 92.34%;
  bottom: 34.11%;
  top: 0%;
  height: 65.89%;
}
.frame-31 {
  padding: 18.11px 6.52px 18.11px 10.86px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 610px;
  height: 294px;
  position: absolute;
  left: 23.18px;
  top: 283px;
  overflow-y: hidden;
}
.frame-40 {
  background: #f58534;
  border-radius: 9px;
  padding: 5px 214px 5px 214px;
  display: flex;
  flex-direction: row;
  gap: 46px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.gdp-fdi {
  color: #fff6f6;
  text-align: center;
  font-family: "Arimo-Bold", sans-serif;
  font-size: 17.383243560791016px;
  line-height: 27.81px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-20 {
  background: #ffffff;
  border-radius: 9.42px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 2.17px;
  padding: 13.76px 3.62px 13.76px 18.11px;
  display: flex;
  flex-direction: row;
  gap: 7.24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 583.79px;
  position: relative;
  overflow: hidden;
}
.india-s-gdp-is-projected-to-grow-between-6-5-to-7-in-2024-25-the-economy-showed-resilience-with-an-8-2-growth-in-fy-2024-exceeding-8-in-three-out-of-four-quarters-india-ranks-as-the-fifth-largest-economy-globally-in-2024-with-a-gdp-of-3-94-trillion-the-services-sector-remains-the-largest-contributor-to-gdp-at-54-7-followed-by-industry-at-27-6-and-agriculture-at-17-7-india-continues-to-attract-significant-foreign-direct-investment-fdi-with-inflows-expected-to-increase-due-to-government-initiatives-to-liberalize-fdi-policies-and-improve-ease-of-doing-business {
  color: #000000;
  text-align: left;
  font-family: "Commissioner-Regular", sans-serif;
  font-size: 14.486035346984863px;
  line-height: 27.81px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-2 {
  padding: 2.17px 0px 2.17px 0px;
  height: 107.92px;
  position: absolute;
  right: 8.01px;
  left: 38.02587890625px;
  bottom: 109.77px;
  overflow: hidden;
}
.how-to-get-started {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 17.383243560791016px;
  font-weight: 500;
  position: absolute;
  right: 343.32px;
  left: 0px;
  top: 0px;
  height: 42.01px;
}
.feel-free-to-reach-out-to-farsight-at-farsight-farsightshares-com-or-click-here-to-open-an-online-account-and-explore-diverse-investment-opportunities-to-full-your-financial-aspirations {
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 400;
  position: absolute;
  right: 0px;
  left: 1.448499321937561px;
  top: 23.9px;
  height: 37.66px;
}
.feel-free-to-reach-out-to-farsight-at-farsight-farsightshares-com-or-click-here-to-open-an-online-account-and-explore-diverse-investment-opportunities-to-full-your-financial-aspirations-span {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 400;
}
.feel-free-to-reach-out-to-farsight-at-farsight-farsightshares-com-or-click-here-to-open-an-online-account-and-explore-diverse-investment-opportunities-to-full-your-financial-aspirations-span2 {
  color: #0099ff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 400;
}
.feel-free-to-reach-out-to-farsight-at-farsight-farsightshares-com-or-click-here-to-open-an-online-account-and-explore-diverse-investment-opportunities-to-full-your-financial-aspirations-span3 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 400;
}
.farsight_anchor a{
  text-decoration: none;
  color: #0099ff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 400;
}
.feel-free-to-reach-out-to-farsight-at-farsight-farsightshares-com-or-click-here-to-open-an-online-account-and-explore-diverse-investment-opportunities-to-full-your-financial-aspirations-span5 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13.037431716918945px;
  font-weight: 400;
}
.farsight-group {
  color: #323232;
  text-align: left;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 17.383243560791016px;
  font-weight: 400;
  position: absolute;
  left: 209.31px;
  top: 61.69px;
  width: 173px;
}
.frame-16 {
  background: #ffd8d8;
  padding: 0px 10.86px 0px 10.86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 654px;
  height: 81px;
  position: absolute;
  left: calc(50% - 326.16px);
  top: 686px;
  box-shadow: 0px 0px 1.45px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 5.07px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 453.41px;
  top: 30.42px;
}
.pngwing-com-1 {
  flex-shrink: 0;
  width: 33.32px;
  height: 26.07px;
  position: relative;
  object-fit: cover;
}
.pngwing-com-1-1 {
  flex-shrink: 0;
  width: 23.18px;
  height: 23.18px;
  position: relative;
  object-fit: cover;
}
.pngwing-com-2-1 {
  flex-shrink: 0;
  width: 21.73px;
  height: 20.28px;
  position: relative;
  object-fit: cover;
}
.pngwing-com-3-1 {
  flex-shrink: 0;
  width: 23.18px;
  height: 23.18px;
  position: relative;
  object-fit: cover;
}
.pngwing-com-4-1 {
  flex-shrink: 0;
  width: 26.07px;
  height: 26.07px;
  position: relative;
  object-fit: cover;
}
.image-1 {
  margin: -2.9px 0 0 0;
  flex-shrink: 0;
  width: 225.98px;
  height: 47.08px;
  position: relative;
  object-fit: cover;
}
.copyright-2023-farsight-group-all-rights-reserved {
  margin: -2.9px 0 0 0;
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10.140225410461426px;
  line-height: 34.48px;
  font-weight: var(--font-weight-700, 700);
  position: relative;
}
